// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Fuzhou Rockchip Electronics Co., Ltd
 */

/dts-v1/;
#include "rk3326-863-lp3-v10.dtsi"

/ {
	model = "Rockchip rk3326 863 rkisp1 board";
	compatible = "rockchip,rk3326-863-lp3-v10-rkisp1", "rockchip,rk3326";
};

&chosen {
	bootargs_ext = "androidboot.boot_devices=ff390000.dwmmc,ff3b0000.nandc";
};

&i2c2 {
	status = "okay";

    fp5510: fp5510@0c {
        compatible = "fitipower touch,fp5510";
        status = "okay";
        reg = <0x0c>;

        pwdn-gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
        rockchip,vcm-start-current = <18>;
        rockchip,vcm-rated-current = <30>;
        rockchip,vcm-setp-mode = <13>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
    };

	gc0312@21 {
		status = "okay";
		compatible = "galaxycore,gc0312";
		reg = <0x21>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&cif_clkout_m0>;

		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";

		avdd-supply = <&vcc2v8_dvp>;
		dovdd-supply = <&vcc1v8_dvp>;
		dvdd-supply = <&vcc1v8_dvp>;

		pwdn-gpios = <&gpio2 14 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "KYT-3359-V5.0";
		rockchip,camera-module-lens-name = "M216A-233";
		port {
			gc0312_out: endpoint {
				remote-endpoint = <&isp0_mipi_in>;
			};
		};
	};

    ov2680@10 {
        status = "okay";
        compatible = "ovti,ov2680";
        reg = <0x10>;

        clocks = <&cru SCLK_CIF_OUT>;
        clock-names = "xvclk";

        avdd-supply = <&vcc2v8_dvp>;
        dovdd-supply = <&vcc1v8_dvp>;
        dvdd-supply = <&vdd1v5_dvp>;

        pwdn-gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "KYT-3359-V5.0";
        rockchip,camera-module-lens-name = "M216A-233";
        port {
            ucam_out: endpoint {
                remote-endpoint = <&mipi_in_ucam>;
                data-lanes = <1>;
            };
        };
    };

    gc2385@37 {
        status = "okay";
        compatible = "galaxycore,gc2385";
        reg = <0x37>;

        clocks = <&cru SCLK_CIF_OUT>;
        clock-names = "xvclk";

        avdd-supply = <&vcc2v8_dvp>;
        dovdd-supply = <&vcc1v8_dvp>;
        dvdd-supply = <&vdd1v5_dvp>;

        pwdn-gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "KYT-4497";
        rockchip,camera-module-lens-name = "M2116A-233";
        port {
            ucam_out2: endpoint {
                remote-endpoint = <&mipi_in_ucam2>;
                data-lanes = <1>;
            };
        };
    };

    ov2655@30 {
        status = "okay";
        compatible = "ovti,ov2655";
        reg = <0x30>;

        clocks = <&cru SCLK_CIF_OUT>;
        clock-names = "xvclk";

        avdd-supply = <&vcc2v8_dvp>;
        dovdd-supply = <&vcc1v8_dvp>;
        dvdd-supply = <&vdd1v5_dvp>;

        pwdn-gpios = <&gpio2 13 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "KYT-3359-V5.0";
        rockchip,camera-module-lens-name = "M216A-233";
        port {
            ucam_out3: endpoint {
                remote-endpoint = <&mipi_in_ucam3>;
                data-lanes = <1>;
            };
        };
    };
};

&isp_mmu {
	status = "okay";
};

&rkisp1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cif_clkout_m0 &dvp_d2d9_m0>;

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            isp0_mipi_in: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&dphy_rx0_out>;
            };
        };

        port@1 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            dvp_in_fcam: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&gc0312_out>;
            };
        };
    };
};

&mipi_dphy_rx0 {
	status = "okay";
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out>;
                data-lanes = <1>;
			};
		};

        port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_rx0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_mipi_in>;
			};
        };

        port@2 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam2: endpoint@2 {
				reg = <1>;
				remote-endpoint = <&ucam_out2>;
                data-lanes = <1>;
			};
        };

        port@3 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam3: endpoint@3 {
				reg = <1>;
				remote-endpoint = <&ucam_out3>;
                data-lanes = <1>;
			};
        };
	};
};